footer {
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	height: 30px;
	margin-bottom: 5px;
}

.icon {
	height: 20px;
	width: 20px;
	margin: 5px 5px 5px 5px;
}

.github.light {
	fill: #181717;
}

.github.dark {
	fill: #e6e6e6;
}

.linkedin {
	fill: #0a66c2;
}

.gmail {
	fill: #ea4335;
}

@media (min-width: 768px) {
	footer {
		left: 6em;
		width: calc(100% - 6em);
	}
}
