@import '../colors';

.theme-toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.4;
	min-width: 48px;
	min-height: 48px;
	margin: 0 1ex 0 1ex;
	cursor: pointer;
	transition: transform 0.5s ease-in;
}

.theme-toggle.dark {
	transform: rotate(-45deg);
}

.theme-toggle:hover {
	opacity: 1;
}

.arc {
	width: 16px;
	height: 16px;
	border-radius: 16px;
	position: absolute;
	transition: all 1s ease-in !important;
	background-color: #424242;
}

.arc.dark {
	transform: scale(1.2);
	background-color: map-get(map-get($themes, 'light'), $bg-low-contrast);
}

.darc {
	width: 16px;
	height: 16px;
	position: absolute;
	border-radius: 8px;
	background-color: map-get(map-get($themes, 'light'), $bg-low-contrast);
	transform: translateX(24px);
	transition: all 0.5s ease-in;
}

.darc.dark {
	background: map-get(map-get($themes, 'dark'), $bg-low-contrast);
	transform: translateX(6px);
}

$rays: 8;
@for $i from 1 through $rays {
	.ray-#{$i} {
		width: 6px;
		height: 2px;
		position: absolute;
		border-radius: 2px;
		background-color: #424242;
		transition: all 0.5s ease-in, opacity 0.5s ease-in !important;
		transform: rotate(#{45 * ($i - 1)}deg) translateX(14px);
	}

	.ray-#{$i}.dark {
		transform: scaleX(0.01);
		opacity: 0;
	}
}

@media (min-width: 768px) {
	.arc.dark {
		transform: scale(1.2);
		background-color: map-get(map-get($themes, 'light'), $bg);
	}

	.darc {
		width: 16px;
		height: 16px;
		position: absolute;
		border-radius: 8px;
		background-color: map-get(map-get($themes, 'light'), $bg);
		transform: translateX(24px);
		transition: all 0.5s ease-in;
	}

	.darc.dark {
		background: map-get(map-get($themes, 'dark'), $bg);
		transform: translateX(6px);
	}
}
