@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

.contact {
	width: 100%;
	display: grid;
	place-items: center;
}

.contact > span {
	line-break: auto;
}

.email-address {
	font-size: 16pt;
	font-weight: lighter;
}

.border-wrapper {
	width: clamp(250px, 60%, 600px);
	display: grid;
	place-items: center;
	border-radius: 50%;
	aspect-ratio: 1;
	box-sizing: content-box;
	position: relative;
	padding: 1rem;
	background: linear-gradient(45deg, #f0e335, #b517d1);
	padding: 2px;
}

.info-wrapper {
	display: grid;
	place-items: center;
	aspect-ratio: 1;
	width: 100%;
	border-radius: 50%;

	
}

.info-wrapper > address {
	font-style: normal;
	text-align: center;
}

address > hr {
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	opacity: 1;
	
}

.name {
	font-size: 32pt;
	font-weight: lighter;
	
}

.signature {
	margin-top: 1.5em;
	font-family: 'Nothing You Could Do';
	font-size: 16pt;
	
}
