.projects {
	display: grid;
	justify-items: center;
	grid-template-columns: minmax(0, 100%);
	width: 100%;
	margin: 0;
	margin-bottom: 1em;
}

.projects > hr {
	width: 100%;
}

.slick-slider {
	width: clamp(200px, 500px, 90%);
}

.project {
	border-radius: 10px;
	margin: 1em;
	padding: 0.5em;

	@include themed() {
		transition: background 0.5s ease-in, box-shadow 0.5s ease-in;
		background: t($bg);
		box-shadow: 4px 4px 12px t($project-shadow-lowlight),
			-4px -4px 12px t($project-shadow-highlight);
	}
}

.languageBreakdown {
	margin: 1ex 0 1ex 0;
	padding-left: 0%;
	list-style: none;
}

.languageBreakdown > li {
	display: inline-flex;
	align-items: center;
	margin-right: 16px;
}

.languageBreakdown > li > span {
	margin-right: 4px;
}

.featured-project-image-wrapper {
	display: grid;
	place-items: center;
}

.featured-project-image-wrapper > img {
	width: clamp(100px, 90%, 600px);
}

@media (min-width: 800px) {
	.projects {
		grid-template-columns: calc(80% - 1ex) 1ex minmax(0, 20%);
	}

	.projects > hr {
		width: 1px;
		height: 100%;
	}

	.slick-slider {
		height: 100%;
	}
}
