$color-text-primary-light: #000;
$color-text-secondary-light: #525252;
$link-active-light: #007bff;
$bg-light: #e0e0e0;
$project-shadow-highlight-light: #ffffff;
$project-shadow-lowlight-light: #bebebe;

$color-text-primary-dark: #fff;
$color-text-secondary-dark: #adadad;
$link-active-dark: #007bff;
$bg-dark: #1f1f1f;
$project-shadow-highlight-dark: #242424;
$project-shadow-lowlight-dark: #1a1a1a;

$linkedIn-blue: #0a66c2;
$github-black: #181717;
$gmail-red: #ea4335;
