// @import 'bootstrap/dist/css/bootstrap.min.css';
@import './themes';
@import './colors';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import './components/footer';
@import './components/languageBar';
@import './components/navbar';
@import './pages/home';
@import './pages/post';
@import './pages/projects';
@import './generics';

html {
	font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial,
		Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji,
		Segoe UI Symbol, Noto Color Emoji;
}

html,
body {
	margin: 0;
	padding: 0;
}

body,
#__next {
	min-height: 100vh;
	min-width: 100vw;
	@include themed() {
		background-color: t($bg);
	}
}

*,
::after,
::before {
	box-sizing: border-box;
}

body::-webkit-scrollbar {
	display: none;
}

#__next {
	position: relative;
	border: none;
	overflow: visible;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 4em calc(100% - 4em);
}

#__next::-webkit-scrollbar {
	display: none;
}

.content {
	display: grid;
	padding: 20px;
	justify-items: center;
	// This line needs to be kep to keep react-slick happy.
	grid-template-columns: minmax(0, 100%);
	height: 100%;
	width: 100%;
}

.content > div {
	max-width: 100%;
}

aside {
	display: flex;
	justify-content: flex-end;
}

@media (min-width: 768px) {
	#__next {
		grid-template-rows: 100%;
		grid-template-columns: 6em calc(100% - 6em);
	}
}
