@import './components/footer';
@import './components/languageBar';
@import './components/navbar';
@import './pages/contact';
@import './pages/error';
@import './pages/home';
@import './pages/post';
@import './pages/projects';
@import './generics';
@import 'https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css';


html {
	font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial,
		Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji,
		Segoe UI Symbol, Noto Color Emoji;
}

html,
body {
	margin: 0;
	padding: 0;
}

body,
div[data-overlay-container="true"] {
	min-height: 100vh;
	min-width: 100vw;
}

*,
::after,
::before {
	box-sizing: border-box;
}

body::-webkit-scrollbar {
	display: none;
}

div[data-overlay-container="true"] {
	position: relative;
	border: none;
	overflow: visible;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 4em calc(100% - 4em);
}

div[data-overlay-container="true"]::-webkit-scrollbar {
	display: none;
}

.content {
	display: grid;
	padding: 30px 20px 40px 20px;
	align-items: center;
	// justify-items: center;
	// This line needs to be kep to keep react-slick happy.
	grid-template-columns: minmax(0, 100%);
	height: 100%;
	width: 100%;
}

.content > div {
	max-width: 100%;
}

aside {
	display: flex;
	justify-content: flex-end;
}

@media (min-width: 768px) {
	div[data-overlay-container="true"] {
		grid-template-rows: 100%;
		grid-template-columns: 20ch calc(100% - 20ch);
	}

	.content {
		padding: 20px 20px 40px 20px;
	}
}
